
Currency.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
Currency.xcodeproj/xcuserdata/david.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
Currency.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
Currency.xcodeproj/xcuserdata/david.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
